:root {
  --darkcolor: rgb(85, 52, 96);
  --lightcolor: rgb(222, 222, 224);
  --maincolor: rgb(131, 33, 97);

}

/* navbar CSS */
.navbar-custom{
    padding: 20px;
    background-color: var(--maincolor);  
}
h1{
    font-size: 40px !important;
    font-family: fantasy;
}
.nav-items-custom {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

/* hero banner CSS */
.jumbotron-custom {
    background-image: url("./02-hero-bg.jpg");
    display: flex;
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    /* justify-content: center; */
}
.jumbotron-custom h2{
    background-color: var(--maincolor);
    border: 5px solid var(--darkcolor);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    margin-left: 1000px;
}
.jumbotron-custom img {
    position: absolute;
    top: 120px;
    height: 200px;
}

/* main section CSS */

.page-section{
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 30px;
  }

  /* footer CSS */

  footer{
    padding: 10px;
    background-color: var(--maincolor); 
    text-align: center;
    font-family: fantasy;
  }
  /* button{
    background-color: var(--darkcolor) !important;
  } */